# Default ignored files
/.idea/workspace.xml
# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
*.iml

/.gradle/
*/.gradle
/.gradle/
!gradle-wrapper.jar
*/out
*/build
*/target
*build

*.DS_Store